.nav-link:hover{
	background-color: grey;
}
.display-4{
	font-weight: bold;
}
.card-body-icon{
	position: absolute;
	z-index: 0;
	top: 25px;
	right: 4px;
	opacity: .4;
	font-size: 90px;
}
.sidebar{
	height: 100vh;
	position: fixed;
}
.main{
	position: absolute;
	top: 25px;
	right: 25px;
}
.date{
	display: flex;
}
.container-jadwal{
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
}
.jadwal-lapangan{
	padding: 0 20px;
}
.container-cari{
	display: flex;
	flex-direction: row;
	width: 100%;
	height: 100px;
	justify-content: space-between;
	margin-top: 20px;
}
.container-booking{
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}
.kiri-booking{
	width: 55%;
	height: 100%;
}
.kanan-booking{
	width: 40%;
	height: 100%;
}
.kanan button:hover{
	background-color: red;
	color: #fff;
}